html {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.page {
  width: 100%;
  min-width: 320px;
  font-family: "Montserrat", "OpenSans", sans-serif;
  font-weight: 400;
}

:root {
  --gap: 32px;
  --white: #fff;
  --black: #000;
  --light-grey: #CACACA;
  --grey: #00000080;
  --dark-grey: #666666;
  --darken-grey: #414141;
  --dark-orange: #E1670E;
  --orange: #FF9900;
  --light-orange: #FFB84D;
  --green: #97EE3F;
}

/*global*/
.page {
  margin: 0;
}

.container {
  max-width: 1800px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  position: relative;
  width: 175px;
  padding: 18px 35px;
  font-family: Montserrat;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
  background-color: var(--orange);
  border: none;
  cursor: pointer;
  border-radius: 16px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--light-orange);
}

.button:focus {
  background-color: var(--light-orange);
}

.button:active {
  background-color: var(--dark-orange);
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  position: relative;
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  transition: color 0.3s ease-in-out;
}

.nav__link_after::after {
  content: "";
  /*position: absolute;*/
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--orange);
  opacity: 0;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.nav__link_after:hover::after {
  opacity: 1;
}

.nav__link_after::after {
  opacity: 0;
}

.nav__link:focus {
  outline-offset: 3px;
  outline: 2px solid var(--orange);
}

.nav__link:active {
  outline: none;
  color: var(--dark-orange);
}

.nav__link_after:active::after {
  outline: none;
  background-color: var(--dark-orange);
  opacity: 1;
}

.header__search {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__search svg  {
  transition: fill 0.3s ease-in-out;
}

.header__search:active svg rect {
  fill: var(--black);
}

.header__search:hover svg rect {
  fill: var(--orange);
  stroke: var(--orange);
}

.header__search:hover svg path {
  stroke: var(--orange);
}

.header__search:focus svg {
  outline: 2px solid var(--orange);
  outline-offset: 2px;
}

.header__search:active svg {
  outline: none;
}

.header__searchn:active svg path {
  stroke: var(--black);
}

.section-tittle {
  color: var(--black);
  font-size: 48px;
  margin: 0;
  margin-bottom: 32px;
  font-weight: 400;
  line-height: normal;
}

.logo {
  display: block;
}

/*header*/
.header {
  background-color: var(--white);
  border-radius: 0px 0px 32px 32px;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

.header__logo {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.nav__list_header {
  display: flex;
  align-items: center;
  gap: 85px;
  margin-right: 86px;
}

.nav__item {
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
}

/*hero*/
.hero {
  padding: 50px 0 51px 0;
}

.hero__contant {
  padding: 100px 80px;
  background-image: url(../img/low-angle-photo-of-balconies-24620151.png);
  border-radius: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  max-width: 837px;
  margin: 0 0 22px 0;
  color: var(--white);
  font-size: 70px;
  font-weight: 800;
  line-height: normal;
}

.hero__description {
  max-width: 790px;
  margin: 0 0 90px 0;
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.hero__button {
  width: 280px;
  padding: 25px 39px;
  font-size: 23px;
}

/*about*/
.about {
  padding-bottom: 101px;
}

.about__tittle {
  margin-bottom: 21px;
}

.about__description {
  max-width: 1235px;
  margin: 0;
  margin-bottom: 49px;
  font-size: 16px;
  line-height: 32px;
  color: var(--black);
}

.about__wrapper {
  display: flex;
}

.advantages-card_main {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: calc(100% - (var(--gap) / 2));
  height: 100%;
  padding-top: 426px;
  border-radius: 32px;
  background-image: url(../img/Advatages-card_main.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about__left-bottom_mobile {
  display: none;
}

.advantages__left {
  width: 50%;
}

.advantages-card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px 51px 50px 50px;
  background-color: var(--grey);
  border-radius: 32px;
}

.advantages__text {
  max-width: 433px;
  margin: 0;
  margin-right: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: var(--white);
}

.advantages__button {
  background-color: transparent;
  border: 3px solid var(--orange);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.advantages__button:hover {
  background-color: var(--orange);
}

.advantages__button:focus {
  background-color: var(--orange);
}

.advantages__button:active {
  background-color: var(--dark-orange);
  border-color: var(--dark-orange);
}

.advantages__right {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: var(--gap);
  width: 50%;
}

.advantages-card {
  display: flex;
  max-height: 100%;
  width: calc(100% - (var(--gap) / 2));
  padding: 64px 58px 63px 58px;
  align-items: center;
  border: 1px solid var(--light-grey);
  border-radius: 32px;
}

.advantages-card__left {
  padding-right: 50px;
}

.advantages-card__left::before {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 190px;
  height: 165px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190px 165px;
}

.advantages-card__background-1::before {
  background-image: url(../img/advantages__card_background-1.svg);
}

.advantages-card__background-2::before {
  background-image: url(../img/advantages__card_background-2.svg);
}

.advantages-card__title {
  display: block;
  margin: 0 0 9px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  color: var(--black);
}

.advantages-card__text {
  max-width: 450px;
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  color: var(--black);
}


/*stages*/
.stages {
  padding-bottom: 102px;
}

.stage {
  display: flex;
  justify-content: space-between;
}

.stage__left {
  max-width: 758px;
  margin-right: 15px;
}

.stage__title {
  margin: 0;
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}

.stage__text {
  margin: 0;
  padding-top: 8px;
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.stage__buttons {
  display: flex;
  padding-top: 49px;
  gap: 32px;
}

.stage__right {
  display: block;
  min-width: 437px;
}

.stage__img {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  object-fit: cover;
  border-radius: 32px;
}

.stage__button {
  padding: 19.5px 38px;
}

.stage__button_small {
  width: 147px;
  font-weight: 400;
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.stage__button_small:hover {
  background-color: var(--dark-grey);
  color: var(--white);
  border-color: var(--dark-grey);
}

.stage__button_small:focus {
  background-color: var(--dark-grey);
  color: var(--white);
  border-color: var(--dark-grey);
}

.stage__button_small:active {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--black);
}

/*questions*/
.questions {
  padding-bottom: 100px;
}

.questions__title {
  margin-bottom: 31px;
}

.questions__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: var(--gap);
}

.question-card {
  width: 100%;
  padding: 64px 65px 63px 59px;
  border: 1px solid var(--light-grey);
  border-radius: 32px;
}

.question-card__title {
  max-width: 412px;
  margin: 0;
  margin-bottom: 9px;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  color: var(--black);
}

.question-card__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--black);
}

/*footer*/
.footer {
  padding: 50px 0;
  background-color: var(--black);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__left {
  margin-right: 25px;
}

.footer__right {
  align-self: center;
}

.footer__logo {
  margin-bottom: 16px;
}

.footer__nav {
  margin-bottom: 90px;
}

.nav__list_footer {
  margin-left: 1px;
}

.nav__link_footer {
  color: var(--light-grey);
  line-height: 36px;
}

.footer__social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 25px;
}

.social__link svg path {
  transition: fill 0.3s ease-in-out;
}

.social__link:hover svg path {
  fill: var(--orange);
}

.social__link:focus-within svg {
  outline: none
}

.social__item:focus-within{
  outline: 2px solid var(--orange);
  outline-offset: 3px;
}

.social__link:active svg {
  outline: none;
}

.social__link:active svg path {
  fill: var(--dark-orange);
}

.footer__center {
  align-self: flex-start;
  padding-right: 24px;
  padding-left: 112px;
}

.footer__form {
  height: 100%;
  padding-top: 1px;
}

.form__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  color: var(--light-grey);
  white-space: nowrap;
}

.form__top {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 28px;
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  resize: none;
  padding: 14px 24px;
  color: var(--light-grey);
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  background-color: var(--darken-grey);
  border: none;
  border-radius: 16px;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.form__textarea::placeholder {
  transition: color 0.3s ease-in-out;
}

.form__textarea:hover {
  background-color: var(--dark-grey);
}

.form__textarea:focus {
  background-color: var(--dark-grey);
}

.form__textarea:active::placeholder {
  color: var(--white);
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  resize: none;
  padding: 21px 24px;
  color: var(--light-grey);
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  background-color: var(--darken-grey);
  border: none;
  border-radius: 16px;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.form__input::placeholder {
  transition: color 0.3s ease-in-out;
}

.form__input:hover {
  background-color: var(--dark-grey);

}

.form__input:focus {
  background-color: var(--dark-grey);
}

.form__input:active::placeholder {
  color: var(--white);
}

.form__bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  align-items: center;
}

.form__checbox-span {
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 195%;
  color: var(--light-grey);
}

.form__button {
  width: auto;
  padding: 19.5px 52.5px;
}

.footer__description {
  max-width: 363px;
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.form__check {
  display: flex;
  align-items: center;
  padding-right: 2px;
}

.form__check:focus-within {
  outline-offset: 3px;
  outline: 2px solid var(--orange);
}

.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__checbox-custom {
  display: inline-block;
  position: relative;
  width: 14px;
  height: 14px;
  border: 1px solid var(--light-grey);
  margin-right: 3px;
}

.form__checbox-custom::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  margin-top: 1px;
  background-image: url(../img/custom-checkbox.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s;
}

.form__checkbox:checked+.form__checbox-custom::before {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.5s;
}
